body {
  background-color: Soft sky blue;
}

h1 {
  color: Dark grey;
  text-align: center;
}

p {
  font-size: 18px;
  text-align: center;
  }

.title {
  color: Dark grey;
  text-align: center;
}

.text {
  font-size: 18px;
  text-align: center;
  color: Charcoal grey;
}

