body {
  background-color: tan;
}

h1 {
  color: navy blue;
  text-align: center;
}

p {
  font-size: 18px;
  text-align: center;
  }

.title {
  color: purple;
  text-align: center;
}

.text {
  font-size: 18px;
  text-align: center;
  color: #333;
}

