body {
  background-color: Light cream;
}

h1 {
  color: Dark blue;
  text-align: center;
}

p {
  font-size: 18px;
  text-align: center;
  }

.title {
  color: Dark blue;
  text-align: center;
}

.text {
  font-size: 18px;
  text-align: center;
  color: grey;
}

